.vpd {
    background-color: #fff;
    padding: 8px;
}

.vpd__table {
    table-layout: fixed;
    width: 100%;
}

.vpd__table>tbody>tr>td {
    text-align: center;
    padding: 5px;
}

.vpd__date {
    background-color: #cee3f5;
    padding: 8px;
    margin-right: 5px;

}

.vpd__header {
    background-color: #cee3f5;
}

.vpd__header>th {
    padding: 8px;

}

.vpd__propagation,
.vpd__earlyveg {
    background-color: #b5d9a4;
}


.vpd__lateveg,
.vpd__earlyflower {
    background-color: #9ec3f8
}

.vpd__midlateflower {
    background-color: #b6a3d8;
}

.vpd__dangerzone {
    background-color: #ee9897;
}

.square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.vpd__subtitle {
    display: flex;
}

.item__date{
    background-color: rgb(215, 241, 253);
    font-weight: 700;
}

.my-legend {
    max-width: 200px !important;
    right: 0;
    bottom: -70px;
    position: absolute;

    }

/* LEGEND CSS */
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.my-legend a {
    color: #777;
}